* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

form {
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 95%;
  max-width: 700px;
  margin: 0 auto;
  padding: clamp(1.25rem, -0.568rem + 9.09vw, 6.25rem);
  input {
    height: clamp(1.875rem, 1.42rem + 2.27vw, 3.125rem);
    padding-left: 20px;
    font-size: clamp(1rem, 0.818rem + 0.91vw, 1.5rem);
    outline: none;
    border-radius: 10px;
  }
  button {
    height: clamp(1.875rem, 1.42rem + 2.27vw, 3.125rem);
    background-color: red;
    color: #fff;
    border: 0;
    font-size: clamp(1rem, 0.818rem + 0.91vw, 1.5rem);
    border-radius: 10px;
    cursor: pointer;
    transition: all .3s;
    &:hover{
      opacity: 0.4;
    }
  }
}


.tg{
  font-size: clamp(1rem, 0.818rem + 0.91vw, 1.5rem);
  text-align: center;
  padding-top: 20px;
}
